body {
    background-color: #000000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
section {
    display: flex;
    justify-content: center;
    padding-top:30px;
}

.start_login_button{
    width: 300px;
    padding: 40px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #ff0066;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: 0.3s;
}
.start_login_button:hover{
    background-color: #5645ff;
}

.login_form{
    min-height: 250px;
    width: 300px;
    padding: 5px  30px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #5645ff;
    background-image:linear-gradient(to top right, #291152 0%, #5a004a 70%, #ff0066 100%);
    font-family: 'Montserrat', sans-serif;
}
.img{
    width: 300px;
    border-radius: 10px;
    position: absolute;
    z-index: 0;
    box-shadow: 0 4px 16px #5645ff;
}

.question_text_style{
    text-align: center;
    color: #ffffff;
    padding-top: 150px;
    position: relative;
    z-index: 10;

}
.login_group{
     font-size: 16px;
     padding: 30px 0 20px;
 }
.pass_group{
    font-size: 16px;
    padding-bottom:20px;
}

.form_label{
    color: darkgray;
    margin-bottom: 5px;
 }

 .form_input{
     width: 275px;
     padding: 10px;
     font-family: 'Montserrat', sans-serif;
     border: none;
     border-radius: 5px;

 }

 .form_button{
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     color: #fff;
     background-color: #5645ff;
     cursor: pointer;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
 }

.form_button:hover{
     background-color: #ff0066;
 }


.error_message, .success_message, .warning_message{
    padding-top: 2px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: red;
}

.success_message{
    color: green;
}

.warning_message{
    color: chocolate;
}


/*ход на страницу*/
.img-page{
    width: 100%;
    position: absolute;
    z-index: 0;
}
/*@media handheld and(min-width:320px){*/
/*    .personage_frog img{*/
/*        width: 100px;*/
/*        position: relative;*/
/*        z-index: 10;*/
/*        top: 7px;*/
/*        left: 300px;}*/

/*}*/
.personage_frog{
    width: 100px;
    position: relative;
    z-index: 10;
    top: 700px;
    right: 10px;
    left: 1600px;

}

.personage_frog{
    animation-name: frog;
    animation-duration: 2s;
}

@keyframes frog {
    25% {
        transform: rotate(70deg);
    }
    50%{
        transform: translateX(50%);
    }
}
