@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    display: flex;
    justify-content: center;
    padding-top:30px;

}

.first_button{
    width: 300px;
    padding: 40px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #ff0066;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: 0.3s;
}
.first_button:hover{
    background-color: #5645ff;
}

form {
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #5645ff;
    background-color: #befffa;
    font-family: 'Montserrat', sans-serif;
}
.picture{
    width: 300px;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
}
.form_title{
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 10;
    padding: 120px 0 20px;
}
 .form_group{
     font-size: 16px;
     margin-bottom: 20px;

 }

 .form_label{
     color: darkgray;
 }

 .form_input{
     width: 275px;
     padding: 10px;
     font-family: 'Montserrat', sans-serif;
     border: none;
     border-radius: 5px;

 }

 .form_button{
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     color: #fff;
     background-color: #5645ff;
     cursor: pointer;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
 }

.form_button:hover{
     background-color: #ff0066;
 }