body {
    background-color: #000000;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    color: #d0d0d0;
    text-decoration: none;
    list-style: none;
}

.navbar {
   display:flex;
    width: 1080px;
    margin: 0 auto;
    justify-content: space-between;
}

.brand{
    padding: 20px;
    width: 125px;
    height: 30px;
}
.ava{
    padding: 20px 30px;
}

.items_navbar{
    padding: 25px;
}

.items_navbar a{
    color: white;
    margin: 0 30px;
}

aside{
    display:flex;
    width: 1080px;
    margin: 0 auto;
    justify-content: center;
}

.fon{
    display:flex;
    width:1080px;
    height: 200px;
    background-color: #27224e;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
}
/*Ховер для загрузки обложки*/
.adding-cover img{
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 10;
    margin: 20px;
    background-color: #ffd2db;
    border-radius: 10px;
    padding: 10px;
}

.adding-cover:hover::after {
    content: attr(data-title);
    position: absolute;
    right: 0;
    padding:5px 10px;
    z-index: 1;
    background: rgba(255, 210, 219, 0.9);
    font-family: sans-serif;
    color: black;
    font-size: 12px;
    border-radius: 50px;
}
.avatar{
    height: 200px;
    width: 200px;
}

.your-ava img {
    height: 160px;
    width: 160px;
    overflow: hidden;
    padding: 20px;
    border-radius: 100px;
    position:absolute;
    z-index: 0;
}
/*Ховер под аватаркой */
.adding-cover2 img{
    position: absolute;
    left: 10px;
    top:10px;
    width: 3%;

}

.adding-cover2:hover::after {
    content: attr(data-title);
    position: absolute;
    left:50px;
    top:150px;
    padding: 10px;
    border-radius: 50px;
    z-index: 10;
    background: rgba(255, 210, 219, 0.9);
    font-family: sans-serif;
    color: black;
    font-size: 12px;
}

.user_name{
    padding-top: 90px ;
    color: #d0d0d0;
}

/*контент сайта*/
.sidebar {
    display:flex;
    width: 1080px;
    margin: 0 auto;
    justify-content: center;
}

.widget {
    width: 300px;
    height: 500px;
    background-color: #3f3363;
    border-radius: 5px;
    margin-right: 20px;
}

.container {
    width: 760px;
    height: 500px;
    background-color: #190b28;
    border-radius: 5px;
}

.title_style {
    text-align: center;
    color: #d0d0d0;
    padding-top: 20px;
}

.list {
    color: #d0d0d0;
    padding-top: 5px;
    line-height: 2.7;
    list-style-type: none;
}

.about-me {
    padding: 10px;
    margin: 0 20px;
    width: 70%;
    border-radius: 3px;
}

.prompt{
    color: #d0d0d0;
    font-size: 12px;
    padding:0 30px;
    border: none;
    outline:none;
}

.title-container-friends{
    display: flex;
}
.title-container-friends h3, p {
    color: #d0d0d0;
    padding:10px 20px 0;
    margin: 0;
}

.friends{
    background-color: rgba(208, 208, 208, 0.4);
    margin: 10px;
    border-radius: 10px;
    display: flex;
}

.avatar-friends img{
    width: 80px;
    border-radius: 50px;
    padding: 10px;
}

.avatar-friends p{
    margin: 0 ;
    text-align: center;
    padding:0 0  10px;
    color: #ffffff;
}
.avatar-friends{
    width: 15%;
    justify-content: center;
}
.bottom_link a{
    font-size: 14px;
}
.bottom_link{
    float: right;
    margin: 0 20px;
}

.publication_header{
    background-color: rgba(126, 0, 110, 0.89);
    margin: 35px 10px 0;
    border-radius: 10px 10px 0 0;
}
.icon{
    height: 30px;
    padding: 0 5px;
}

.publication{
    background-color: rgb(208, 208, 208);
    margin:0 10px;
    border-radius:0 0 10px 10px;
}

.yourava_mini img{
    height: 40px;
    margin: 5px 20px;
    border-radius: 100px;
}

.publication_input{
    background: none;
    outline: none;
    border: none;
    padding-top:18px;
    width: 400px;

}

.yourava_mini  {
    display: flex;
    justify-content: space-between;
}

.publication-button__send{
    float: right;
    margin: 0 20px;
    display: flex;
}


#publication-button_icon{
    background-color: #7E006E;
    border-radius: 100px;
    padding: 0;
    margin:5px  10px;
}
.icon2{
    height: 30px;
    width: 40px;
}

.publication-button{
    padding:  10px;
    border: none;
    border-radius: 10px;
    margin: 5px 0;
    background-color: #7c3577;
    color: #d0d0d0;
    transition: 1s;
}
.publication-button:hover{
    background-color: #7e006e;
}